@import "../../../../node_modules/roboto-fontface/css/roboto-condensed/roboto-condensed-fontface.css";

.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  font-family: 'Roboto-Condensed-Bold' !important;
  color: white;
}

.crypto-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.values {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  color: white;
  margin: 10px 0;
}

.values span {
  font-size: 30px;
}

.spread {
  color: rgb(100, 218, 219);
}

.crypto-title h3 {
  color: white;
}

.exchange-div {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 20px;
  gap: 10px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(38, 42, 42);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

th {
  font-weight: bold;
}

th,
td {
  text-align: center;
  font-family: 'Roboto-Condensed-Bold' !important;
}