@media (max-width: 1160px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}

mat-table {
  width: 1200px;
  max-width: 1200px;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}

mat-row,
mat-header-row {
  display: table-row;
}

mat-cell,
mat-header-cell {
  display: table-cell;
  padding: 0px 5px;
  line-break: normal;
  overflow: hidden;
  vertical-align: middle;
}

mat-icon {
  vertical-align: middle;
}

.container {
  overflow: hidden;
}

.div-dolars {
  padding: 20px 20px 20px 0;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.fixed-item {
  flex-shrink: 0;
  padding: 0 20px 0 20px;
  margin-right: 20px;
  font-size: 18px;
  background-color: rgb(26, 28, 28);
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
}

.scroll-list {
  display: inline-flex;
  justify-content: space-between;
  position: relative;
  gap: 50px;
  animation: scroll-left 40s linear infinite;
}

.scroll-item {
  font-size: 18px;
  white-space: nowrap;
}

.scroll-item img {
  margin-right: 5px;
}

.scroll-item span {
  color: green;
}

/* Animação */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
    /* Começa na posição inicial */
  }

  100% {
    transform: translateX(-50%);
    /* Move metade da largura (já que a lista é duplicada) */
  }
}


.small-loading {
  height: 40px;
}

.spinner:before {
  width: 40px !important;
  height: 40px !important;
  border: 4px solid #ffffff !important;
  border-top-color: #00d4d2 !important;
}

.div-filters {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-right: 10px;
  gap: 15px;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid #00d4d8 50%;
  border-top: 1px solid #00d4d8 50%;
  transition: 0.5s;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(38, 42, 42);
}

/* td,
th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
  padding: 15px;
} */

/* th {
  font-weight: bold;
} */

.div-center {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.dolar-value {
  color: lightgray;
  font-size: 85%;
}

a {
  color: #00d4d8;
}

.high-percentage {
  color: green;
}

.mid-percentage {
  color: lightgreen;
}

.low-percentage {
  color: orange;
}

tr.example-detail-row {
  height: 0;
}

.example-expanded-row {
  background-color: rgba(0, 0, 0, 0.05);
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  margin-top: 50px;
}

.div-card {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header-card {
  background-color: rgb(26, 28, 28);
  margin-bottom: 20px;
  border-radius: 10px 10px 0 0;
  margin: 10px;
}

.mat-card {
  width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.spread-card {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: rgb(100, 218, 219);
}

.exchanges-card {
  display: flex;
  justify-content: space-evenly;
}

.exchange-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prices-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.prices-card p {
  background-color: rgb(26, 28, 28);
  padding: 10px;
  border-radius: 5px;
}

.fee-card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: burlywood;
  background-color: rgb(26, 28, 28);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.actions-card {
  display: flex;
  justify-content: center;
  background-color: rgb(26, 28, 28);
  padding: 10px 5px 10px 5px;
  border-radius: 0 0 10px 10px;
}